.about-wrapper {
    .about-left-items {
        max-width: 585px;
        position: relative;

        .top-text {
            @include flex;
            gap: 20px;
            margin-bottom: 40px;

            @include breakpoint (max-sm){
                flex-wrap: wrap;
                margin-bottom: 25px;
            }
            
            li {
                font-weight: 500;
                border-radius: 10px;
                background: #1A1A1A;
                padding: 17px 23px;

                span {
                    color: $white;
                }
            }
        }

        .skill-counter {
            @include flex;
            gap: 20px;
            border-left: 1px solid rgba(255, 255, 255, 0.20);
            padding-left: 20px;

            @include breakpoint (max-xxl){
                border-left: none;
                padding-left: 0;
            }

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            &.pl-none {
                padding-left: 0;
                border-left: none;
            }

            .content {
                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    color: $theme-color;
                }
            }
        }

        .middle-line {
            position: relative;
            height: 1px;
            width: 100%;
            background: rgba(255, 255, 255, 0.20);
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .title {
            text-align: right;
            color: $white;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-top: 50px;

            span {
                color: #888;
            }
        }

        .vec-shape {
            position: absolute;
            right: 0;
            bottom: 60px;
        }
    }

    .about-btn {
        @include flex;
        gap: 20px;
        margin-top: 50px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            margin-top: 30px;
        }
    }
}

.about-section {
    position: relative;
    z-index: 9;

    .circle-shape {
        position: absolute;
        bottom: -60%;
        right: 0;
        z-index: -1;
    }
}

.about-wrapper-3 {
    position: relative;
    z-index: 9;

    .about-image {
        position: absolute;
        top: 28%;
        right: 0;
        z-index: -1;
    }

    .about-counter-2 {
        border-radius: 10px;
        background: #1A1A1A;
        padding: 30px;
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 25px;
            justify-content: start;
        }

        @include breakpoint (max-md){
            margin-top: 30px;
        }

        .counter-item {
            @include flex;
            gap: 10px;

            .content {
                h3 {
                    color: $theme-color;
                    font-size: 32px;
                    font-weight: 800;
                    letter-spacing: 0.5px;
                    line-height: 1;
                    margin-bottom: 5px;
                }

                p {
                    text-transform: uppercase;
                }
            }
        }

        .bb-right {
            background: rgba(255, 255, 255, 0.20);
            width: 1px;
            height: 51px;
        }
    }

    .client-info {
        @include flex;
        gap: 10px;
        margin-top: 30px;

        p {
            color: #888;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.16px;
            text-transform: uppercase;

            b {
                font-weight: 500;
                display: block;
            }
        }
    }

    .about-btn {
        @include flex;
        gap: 40px;
        margin-top: 50px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 20px;
        }

         @include breakpoint (max-md){
            margin-top: 30px;
        }

        .awrd-text {
            @include flex;
            gap: 10px;
        }

        .content {
            h4 {
                color: $white;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: $body-font;
            }

            span {
                color: #888;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}

.about-inner-wrapper {

    .about-head {
        @include flex;
        gap: 160px;
        justify-content: center;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 30px;
        }

         h1 {
            @include flex;
            color: #FFF;
            font-size: 100px;
            font-weight: 700;
            text-transform: uppercase;

            @include breakpoint (max-md){
                font-size: 80px;
            }

            @include breakpoint (max-sm){
                font-size: 65px;
            }

            img {
                @include breakpoint (max-xl){
                    display: none;
                }
            }
        }

        p {
            i {
                color: $theme-color;
                margin-right: 8px;
            }
        }
    }
   
}

.about-section-inner {
    padding: 150px 0 150px;

    .about-head {
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding-bottom: 40px;
    }

    .about-sub {
        color: $white;
        font-size: 50px;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        margin-top: 50px;

        @include breakpoint (max-lg){
            font-size: 39px;
        }

         @include breakpoint (max-sm){
            font-size: 34px;
        }

         @include breakpoint (max-xxs){
            font-size: 30px;
        }

        b {
            color: $theme-color;
            font-weight: 700;
        }

        span {
            color: #888;
            font-weight: 700;
        }
    }

    .about-image {
        margin-top: 70px;
         border-radius: 10px;

        img {
            @include imgw;
            border-radius: 10px;
        }
    }
}

.about-counter-box {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #060606;
    padding: 30px;
    position: relative;

    .client-info {
        position: absolute;
        top: 50px;
        right: 30px;
    }

    h2 {
        color: #888;
        font-size: 100px;
        font-weight: 800;
        position: relative;
        line-height: 1;
        display: inline-block;

        sub {
            font-size: 60px;
            font-weight: 400;
            position: absolute;
            right: -25px;
            bottom: 35px;
        }
    }

    p {
        color: #888;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .icon {
        position: absolute;
        top: 50px;
        right: 30px;
    }

    &:hover {
        h2 {
            color: $white;
        }
    }
}

.about-wrapper-4 {
    .about-thumb {
        margin-left: 20px;
        position: relative;
            
        @include breakpoint (max-xl) {
            margin-left: 0;
        }

        .thumb-shape1 {
            width: 335px;
            height: 481px;
            border-radius: 100px;
            background-color: $header-color;
            position: absolute;
            left: 0;
            z-index: 1;

            @include breakpoint (max-xl){
                display: none;
             }
            
            @include breakpoint (max-md) {
                left: 0;
                top: -60px;
            }
        }

        .thumb-shape2 {
            width: 335px;
            height: 481px;
            border-radius: 100px;
            background: #F1F1F1;
            position: absolute;
            left: 100px;
            z-index: 2;

            @include breakpoint (max-xxl){
              left: 50px;
            }

            @include breakpoint (max-xl){
                display: none;
            }

            @include breakpoint (max-md) {
                left: 0;
                top: -30px;
            }
        }

        .thumb {
            position: relative;
            display: inline-block;
            margin-left: 200px;
            z-index: 5;

            @include breakpoint (max-xxl){
                margin-left: 150px;
            }

            @include breakpoint (max-xl){
                margin-left: 0;
                display: block;
            }

            @include breakpoint (max-lg){
               height: 600px;
            }

            @include breakpoint (max-sm){
                height: 500px;
            }

            img {
                border-radius: 100px;

                @include breakpoint (max-xl){
                   @include imgw;
                   object-fit: cover;
                }
            }
        }
    }

    .about-content {
        margin-left: 60px;

        @include breakpoint (max-lg){
            margin-left: 0;
        }

        h2 {
            font-size: 90px;
            color: $header-color;

            @include breakpoint (max-xl){
                font-size: 80px;
            }

            @include breakpoint (max-md){
               font-size: 70px;
            }

            @include breakpoint (max-sm){
                font-size: 50px;
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 400;
            color: $header-color;
            text-transform: lowercase;
            margin-top: 30px;
            font-family: $body-font;
            line-height: 165%;
            max-width: 640px;
        }

        .about-btn {
            padding-top: 50px;

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                li {
                     padding: 9px 20px;
                    color: $header-color;
                    text-align: center;
                    font-family: $heading-font;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                    display: inline-block;
                    border-radius: 100px;
                    border: 1px solid #1E1E1E;
                    @include transition;

                    @include breakpoint (max-xl4) { 
                        font-size: 20px; 
                    }

                    &:hover {
                        background-color: $theme-color;
                        color: $black;
                    }
                }
            }
        }
    }
}

.video-banner-4 {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint (max-xl){
        height: initial;
        padding: 100px 0;
    }

    .image-wrapper {
        width: 500px;
        height: 650px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint (max-xl){
           width: 100%;
           height: 700px;
        }

        @include breakpoint (max-sm){
            height: 500px;
        }

          .video {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .video-btn {
            width: 78px;
            height: 78px;
            line-height: 78px;
            text-align: center;
            border-radius: 140px;
            background-color: $white;
            color: #121212;
            display: inline-block;
            text-align: center;
            font-size: 18px;

            &:hover {
              background-color: $theme-color;
            }
  
        }

        .circle-image {
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);
            top: 50%;
            display: none;

            img {
                animation: cir36 10s linear infinite;
            }
        }
    }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 650px;
            display: block;
        }
    }
}

.about-text-4 {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 200%;
    color: #888;
    font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    padding-top: 50px;
    margin-top: 48px;

    @include breakpoint (max-xxl) {
        font-size: 18px;
        margin-top: 30px;
        padding-top: 30px;
    }
}