.contact-section-3 {
    position: relative;
    padding: 70px 30px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    @include breakpoint (max-sm){
      background-image: none !important;
      background-color: #1A1A1A;

      .section-title-2 {
            @include breakpoint (max-md){
                margin-bottom: 30px;
            }
      }
    }


    .sub-title {
        color: $theme-color;
        font-family: $body-font;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        @include flex;
        gap: 10px;
        position: absolute;
        top: 0;
        left: 78px;

        @include breakpoint (max-sm){
            position: static;
            margin-bottom: 6px;
        }
    }

    .form-clt {
        input,textarea {
            outline: none;
            width: 100%;
            border-radius: 12px;
            border: 1px solid rgba(193, 193, 193, 0.16);
            background: transparent;
            text-transform: uppercase;
            padding: 18px 25px;
            line-height: 1;
            color: $text-color;
        }

        textarea {
            padding-bottom: 100px;
        }

        .budget-item {
            @include flex;
            gap: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 15px;
            }
            
            h3 {
                color: $white;
                font-size: 16px;
                font-weight: 500;
                font-family: $body-font;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }

            .budget-button {
    @include flex;
    gap: 8px;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
    }

    .budget-btn {
        display: inline-block;
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        color: #888;
        font-family: $body-font;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding: 8px 16px;
        line-height: 1;
        @include transition;

        &:hover {
            background-color: $theme-color;
            color: $black;
        }

                &.active {
                    background-color: $theme-color;
                    color: $black;
                    border-color: $theme-color;
                }
            }
        }

        }
    }
}

.contact-form-box {
  border-radius: 24px;
  background: #1A1A1A;
  backdrop-filter: blur(24px);
  padding: 48px;

  &.style-2 {
     margin-top: 60px;

      @include breakpoint(max-xl) {
       margin-top: 30px;
    }
  }

  @include breakpoint(max-xl) {
    padding: 30px;
  }

  h3 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .contact-box {
    input,textarea {
      width: 100%;
      background-color: #060606;
      border: 0;
      border-radius: 12px;
      padding: 20px 30px;
      line-height: 1;
    }

    textarea {
      padding-bottom: 160px;
      resize: none;
      outline: none;
    }
  }
}

.contact-inner-page-wrapper {
  background-color: #1A1A1A;
  padding: 80px 0 0;
  margin-top: 50px;

  .contact-image {
      margin-left: -120px;
      position: relative;

      ul {
        display: grid;
        align-items: center;
        gap: 16px;
        position: absolute;
        bottom: 170px;
        right: 0;

        li {
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: #1A1A1A;
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: inline-flex;
            padding: 18px 28px;

            b {
              font-weight: 500;
              color: #888;
              margin-left: 5px;
            }
        }
      }

      @include breakpoint (max-xl){
        margin-left: 0;

        img {
            @include imgw;
        }
      }
  }

    form {
      border-radius: 10px;
      background: #060606;
      padding: 38px 24px;
      margin-left: 50px;

      @include breakpoint (max-xl){
        margin-left: 0;
      }

      .form-clt {
          input,textarea {
              outline: none;
              width: 100%;
              border-radius: 12px;
              border: 1px solid rgba(193, 193, 193, 0.16);
              background: transparent;
              text-transform: uppercase;
              padding: 18px 25px;
              line-height: 1;
              color: $text-color;
          }

          textarea {
              padding-bottom: 100px;
          }

          .budget-item {
              @include flex;
              gap: 30px;

              @include breakpoint (max-xxl){
                  flex-wrap: wrap;
                  gap: 15px;
              }
              
              h2 {
                  color: $white;
                  font-size: 16px;
                  font-weight: 500;
                  font-family: $body-font;
                  letter-spacing: 0.5px;
                  text-transform: uppercase;
              }

               h4 {
                  color: $white;
                  font-size: 16px;
                  font-weight: 500;
                  font-family: $body-font;
                  letter-spacing: 0.5px;
                  text-transform: uppercase;
              }

              .budget-button {
                  @include flex;
                  gap: 8px;

                  @include breakpoint (max-xxl){
                      flex-wrap: wrap;
                  }

                  .budget-btn {
                      display: inline-block;
                      border-radius: 100px;
                      border: 1px solid rgba(255, 255, 255, 0.20);
                      color: #888;
                      font-family: $body-font;
                      font-size: 14px;
                      font-weight: 500;
                      letter-spacing: 0.5px;
                      text-transform: uppercase;
                      padding: 8px 16px;
                      line-height: 1;
                      @include transition;

                      &:hover {
                          background-color: $theme-color;
                          color: $black;
                      }
                  }
              }
          }
      }
    }
}

.googpemap-2 {
  position: relative;
  margin: 80px 0;

  iframe {
    width: 100%;
    height: 550px;
    border-radius: 10px;
    filter: grayscale(100%) invert(90%);
  }
}

.error-wrapper {
  text-align: center;
   border-top: 1px solid rgba(255, 255, 255, 0.20);
    padding-top: 140px;

      @include breakpoint(max-xxl) {
        padding-top: 130px;
      }

      @include breakpoint(max-lg) {
        padding-top: 110px;
      }

  .error {

    h2 {
      color: $theme-color;
      font-size: 350px;
      line-height: 1;

      @include breakpoint(max-xl) {
        font-size: 140px;
      }

      @include breakpoint(max-lg) {
        font-size: 130px;
      }

      @include breakpoint(max-sm) {
        font-size: 100px;
      }
    }
  }

  .error-content {
    h2 {
      font-size: 72px;

      @include breakpoint(max-xl) {
        font-size: 60px;
      }

      @include breakpoint(max-lg) {
        font-size: 50px;
      }

      @include breakpoint(max-sm) {
        font-size: 30px;
      }

      span {
        color: $theme-color;
      }
    }

    p {
      margin-top: 22px;
    }
  }

  .error-btn {
    margin-top: 45px;
    @include flex;
    justify-content: center;
    gap: 32px;

    @include breakpoint(max-xl) {
      gap: 15px;
      flex-wrap: wrap;
    }

    .theme-btn {
      
      
      &.style-2 {
        border: 1px solid rgba(255, 255, 255, 0.20);
        background-color: transparent;

        &::before {
           background-color: $theme-color;
        }

        &:hover {
          color: $bg-color-2;
           border: 1px solid $theme-color;
        }
      }
    }
  }
}
