.array-button-2 {
    gap: 16px;
    position: relative;
    z-index: 9;
    margin-top: 37px;

    &.style-3 {
		.array-prev2 {
			transform: rotate(0deg);

            i {
                transform: rotate(0deg);
            }

            &:hover {
            i {
                color: $white;
            }
        }
		}

        .array-next2 {
			transform: rotate(0deg);

            i {
                transform: rotate(0deg);
            }

            &:hover {
            i {
                color: $white;
            }
        }
		}
	}

    @include breakpoint (max-xl) {
        flex-wrap: wrap;
    }

    .array-prev2 {
        width: 55px;
        height: 55px;
        line-height: 50px;
        text-align: center;
        background-color: transparent;
        color: $header-color;
        @include transition;
        overflow: hidden;
       border: 1px solid rgba(199, 201, 206, 0.32);

        @include breakpoint (max-sm) {
        width: 50px;
        height: 50px;
        line-height: 50px;
        }

    
    
        i {
        transform: rotate(45deg);
        @include transition;
        }
    
        &:hover {
            background-color: $theme-color;
            color: $header-color;
            border: 1px solid $theme-color;
    
            svg path {
                fill: $white
            }
        }
    }
    
    .array-next2 {
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        background-color: transparent;
        color: $header-color;
        @include transition;
        border: 1px solid rgba(199, 201, 206, 0.32);

        @include breakpoint (max-sm) {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        
        
        i {
            transform: rotate(45deg);
            @include transition;
        }
    
        &:hover {
            background-color: $theme-color;
            color: $header-color;
            border: 1px solid $theme-color;
    
            svg path {
                fill: $white
            }
        }
    }

}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

.sticky-style {
  position: sticky !important;
  top: 100px;
}

.gt-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.gt-brand-slide-element {
	width: auto;
	display: inline-block;
}

.p-relative {
  position: relative;
}

.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70px;
      height: 70px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(197, 247, 71, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}


.page-nav-wrap {
    margin-top: 60px;

    ul {
        li {
            display: inline-block;

            &.active {

                .page-numbers {
                    background-color: $theme-color;
                    color: $black;
                }
            }

            .page-numbers {
                &.current {
                    background-color: $theme-color;
                    color: $black;
                }

                display: inline-block;
                width: 48px;
                height: 48px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, 0.20);
                line-height: 48px;
                border-radius: 0;
                background: transparent;
                color: $white;
                font-weight: 900;
                transition: all 0.3s ease-in-out;
                margin: 0 2px;
                border-radius: 50%;
                font-family: $heading-font;

                @media (max-width: 767px) {
                    margin-top: 10px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                }

                i {
                    margin-top: 2px;
                    color: $header-color;
                    @include transition;
                }

                &:hover {
                    background-color: $theme-color;
                    color: $black;

                    i {
                        color: $black;
                    }
                }
            }
        }
    }
}

.border-dashed-item {
    padding: 60px 0;
    position: relative;
    z-index: 9;

    .bt-dashed {
        border-top: 1px dashed rgba(255, 255, 255, 0.20);
        border-bottom: 1px dashed rgba(255, 255, 255, 0.20);
        padding: 9px 0;
    }
}

.box-user {
    position: sticky;
    top: 0px;
    padding-top: 60px;
}

.text_invert > div {
  background-image: linear-gradient(to right, rgb(46, 46, 46) 50%, rgb(77, 77, 77) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.text_invert-2 > div {
  background-image: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(46, 46, 46) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

 .tilt_scale {
    transition: transform 0.2s ease;
    display: inline-block;
}

.no-break {
    white-space: nowrap; /* Keeps "My Background and Expertise" together */
}

/* Optional: styling for words split animation */
.split-word {
    display: inline-block; /* Required for animation */
    opacity: 0;
}

.reveal-img {
    opacity: 0;           /* start invisible */
    transform: translateX(-600px); /* start left */

}

.arrow-path {
  width: 220px;
  height: 130px;
  color: black;
  stroke-dasharray: 1000;
  animation: draw 10s linear infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.image-wrapper {
  position: relative;
  transition: all .8s 
cubic-bezier(0.55, 0.085, 0, 0.99);
}

.animated-image {
  display: block;
  transform: translateY(100%);
  opacity: 0;
}


/* preloader শেষ হলে active class যোগ হবে */
.image-wrapper.active .animated-image {
  transform: translateY(0);
  opacity: 1;
}

/* Ensure the link inherits styles from its parent */
.wt-about-title2 a {
    display: inline-block; /* Needed for transform animations */
    color: inherit;
    text-decoration: inherit;
}

.project-section-3  {
    .line-ani {
        margin-top: -25px;

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}

.brand-container {
  max-width: 1660px;
  margin: 0 auto;
}

.gt-text-scale-anim {
    white-space: pre-wrap;
    transform-origin: top left;
}

.gt-letter-span {
    display: inline-block;
}
.gt-word-span {
    display: inline-block;
}

.p-relative {
    position: relative;
}

// Switcher
.quick-switch {
	display: flex;
	width: 93px;
	background: #262628;
	border-radius: 50px;
	justify-content: space-between;
	align-items: center;
	padding: 0 14px;
	cursor: pointer;
	position: fixed;
    transform: translateY(-50%) rotate(-90deg);
    z-index: 999999;
    top: 50%;
    left: 0;
	&-2{
		background-color: #ededed;
	}
	&-3{
		background-color: #EF2E4E;
	}
  }
  .quick-option {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 0;
	transition: .3s;
	cursor: pointer;
	opacity: 0;
	width: 50%;
	& span{
		color: #fff;
		font-weight: 600;
	}
	&.selected{
		opacity: 1;
	}
	& .icon {
		background-color: #fff;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1
	}
	&.light{
		& .icon{
			right: 5px;
		}
	}
	&.dark{
		& .icon{
			left: 5px;
		}
	}
	&-2{
		& span{
			color: #0E0E10 !important;
		}
	}
  }
