.news-main-box-items {
    margin-top: 30px;
    @include flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    padding-top: 40px;
    background-color: #060606;

    @include breakpoint (max-xl){
       display: block;
       padding-top: 28px;
    }

    .news-content {

        @include breakpoint (max-xl){
           margin-bottom: 30px;
        }

        h3 {
            font-size: 30px;
            font-weight: 500;

            @include breakpoint (max-xl){
              font-size: 26px;
            }

            @include breakpoint (max-md){
              font-size: 24px;
            }

            @include breakpoint (max-sm){
              font-size: 22px;
            }

            a {
                &:hover {
                    color: $theme-color;
                }
            }

        }

        ul {
            margin-top: 30px;
            @include flex;
            gap: 80px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 30px;
            }

            li {
                .client-info {
                    @include flex;
                    gap: 20px;

                    .client-content {
                        .name {
                            font-size: 16px;
                            font-weight: 500;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }

                span {
                    border-radius: 4px;
                    background: #C9F31D;
                    padding: 5px 10px;
                    line-height: 1;
                    color: rgba(6, 6, 6, 1);
                    margin-right: 10px;
                    line-height: 1;

                    &.color-2 {
                        border-radius: 4px;
                        background: rgba(191, 247, 71, 0.10);
                        color: $theme-color;
                    }
                }
            }
        }
    }

    .news-image {
        img {
            @include imgw;
            border-radius: 6px;
        }
    }
}

.news-section-2 {
    .section-title-area {
        h2 {
            span {
                color: $theme-color;
            }
        }
    }
}

.news-box-items-2 {
    margin-top: 30px;
    
    .thumb {
        position: relative;
        z-index: 9;

        img {
            @include imgw;
            border-radius: 6px;
        }

        ul {
            position: absolute;
            top: 20px;
            left: 20px;

            li {
                span {
                    border-radius: 4px;
                    background: #C9F31D;
                    padding: 5px 10px;
                    line-height: 1;
                    color: rgba(6, 6, 6, 1);
                    margin-right: 10px;
                    line-height: 1;

                    &.color-2 {
                        border-radius: 4px;
                        background: rgba(191, 247, 71, 0.10);
                        color: $theme-color;
                    }
                }
            }
        }
    }

    .content {
        margin-top: 20px;

        h3 {
            font-size: 24px;
            font-weight: 500;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
            padding-bottom: 20px;
            @include transition;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        h2 {
            font-size: 24px;
            font-weight: 500;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
            padding-bottom: 20px;
            @include transition;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .client-info-area {
            margin-top: 20px;
            @include flex;
            justify-content: space-between;

            .client-info {
                @include flex;
                gap: 20px;

                .client-content {
                    .name {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            .circle-icon {
                background-color: transparent;
                width: 48px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                height: 48px;
                line-height: 48px;
                text-align: center;
                border-radius: 50%;
                color: $theme-color;
                @include transition;
                display: inline-block;

                &:hover {
                    background-color: $theme-color;
                    color: rgba(6, 6, 6, 1);
                }
            }
        }
    } 
}

.news-style-item-3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    padding-bottom: 30px;
    margin-bottom: 30px;

    &.bb-none {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .thumb {
        @include breakpoint (max-md){
            height: 200px;
        }
        img {
            @include imgw;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .content {
        margin-top: 30px;

        ul {
            margin-bottom: 30px;

            li {
                span {
                    border-radius: 4px;
                    background: #C9F31D;
                    padding: 6px 10px;
                    line-height: 1;
                    color: rgba(6, 6, 6, 1);
                    margin-right: 10px;
                    line-height: 1;

                    &.color-2 {
                        border-radius: 4px;
                        background: rgba(191, 247, 71, 0.10);
                        color: $theme-color;
                    }
                }
            }
        }

        h3 {
            font-size: 30px;
            font-weight: 500;
            line-height: 150%;
            text-transform: uppercase;


            @include breakpoint (max-xl){
                font-size: 25px;
            }

             @include breakpoint (max-lg){
                font-size: 24px;
            }

            @include breakpoint (max-md){
                font-size: 22px;
            }

             @include breakpoint (max-sm){
                font-size: 20px;
            }

            a {
                color: $white;

                &:hover {
                    color: $theme-color;
                }
            }
        }

         .client-info {
            @include flex;
            gap: 20px;
            margin-top: 30px;

            .client-content {
                .name {
                    font-size: 16px;
                    font-weight: 500;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

.news-grid-section1 {
    padding: 160px 0 120px;

    h1 {
        color: $white;
        font-size: 100px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;

        @include breakpoint (max-md){
          font-size: 80px;
        }

         @include breakpoint (max-sm){
          font-size: 50px;
        }
    }

    .bb-bottom {
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding-bottom: 70px;
    }
}

.news-standard-box-items {
    max-width: 930px;
    margin: 30px auto 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    padding-bottom: 40px;

    .thumb {
        img {
            @include imgw;
            border-radius: 6px;
        }
    }

    .content {
        margin-top: 30px;

        h2 {
            font-size: 30px;
            font-weight: 500;
            line-height: 150%;
            text-transform: uppercase;

            @include breakpoint (max-sm){
              font-size: 24px;
            }

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

         h3 {
            font-size: 30px;
            font-weight: 500;
            line-height: 150%;
            text-transform: uppercase;

            @include breakpoint (max-sm){
              font-size: 24px;
            }

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .client-info-area {
            @include flex;
            gap: 40px;
            margin-top: 30px;

            @include breakpoint (max-xl){
              flex-wrap: wrap;
              gap: 20px;
            }

            .line-shape {
                width: 1px;
                height: 60px;
                background: rgba(136, 136, 136, 0.20);
            }

            .client-info {
                @include flex;
                gap: 20px;

                .client-content {
                    .name {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

              ul {
               
                li {
                    span {
                        border-radius: 4px;
                        background: #C9F31D;
                        padding: 5px 10px;
                        line-height: 1;
                        color: rgba(6, 6, 6, 1);
                        margin-right: 10px;
                        line-height: 1;

                        &.color-2 {
                            border-radius: 4px;
                            background: rgba(191, 247, 71, 0.10);
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.news-details-area {
  margin-right: 20px;

  @include breakpoint(max-xl) {
    margin-right: 0;
  }



  .single-news-post {
    .news-thumb {
      margin-bottom: 20px;

      img {
        @include imgw;
        border-radius: 16px;
      }
    }

    .news-content {

      .ext {
        font-size: 36px;
        margin-bottom: 10px;

        @include breakpoint(max-xl) {
          font-size: 30px;
        }
      }

      .news-meta {
        @include flex;
        gap: 24px;
        margin-bottom: 10px;

        .green {
          color: $theme-color;
        }

        .date {
          span {
            width: 5px;
            height: 5px;
            border-radius: 100px;
            background-color: $text-color;
            display: inline-block;
            margin-bottom: 3px;
            margin-right: 3px;
          }
        }
      }

      .highlight-text {
        border: 1px solid $theme-color;
        border-radius: 18px;
        background: #1A1A1A;
        padding: 24px 40px;
        margin: 30px 0;
        position: relative;
        z-index: 9;

        @include breakpoint(max-xl){
          padding: 20px;
        }

        .qoute-shape {
          position: absolute;
          top: 15px;
          left: 43px;
        }

        .content {
          text-align: center;

          h3 {
            font-size: 24px;
            font-weight: 700;

            line-height: 140%;

            @include breakpoint(max-xl){
              font-size: 16px;
            }
          }

          .info {
            margin-top: 10px;
            @include flex;
            justify-content: center;
            gap: 10px;
          }
        }
      }
    }

    .post-thumb {
      margin-top: 20px;

      img {
        @include imgw;
        border-radius: 20px;
      }
    }

    .post-list {
      margin-top: 20px;

      li {
        @include flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;

        img {
          margin-right: 12px;
        }
      }
    }

    h4 {
        font-size: 24px;
        font-weight: 700;
    }

    .news-list {

      .news-item {
        margin-top: 20px;
        display: flex;
        gap: 12px;

        .content {
          @include flex;
          flex-wrap: wrap;
          gap: 10px;

          h6 {
            font-size: 18px;
          }
        }
      }
    }

    .comments-area {
      margin-top: 40px;

      .comments-heading {
        margin-bottom: 10px;

        @include breakpoint(max-sm) {
          margin-bottom: 20px;
        }
      }

      .blog-single-comment {
        border-bottom: 1.2px solid rgba(102, 102, 102, 0.16);

        @include breakpoint(max-sm) {
          flex-wrap: wrap;
          gap: 20px;
        }

        .content {
            h5 {
                font-size: 24px;
            }
          .head {
            margin-bottom: 10px;
          }

          .reply {
            border-radius: 50px;
            padding: 5px 18px;
            background-color: $theme-color;
            color: $bg-color-2;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
          }
        }

        &.style-2 {
          padding: 0 40px 24px;

          @include breakpoint(max-xl) {
            padding: 0;
          }
        }
      }
    }
  }
}

.main-sidebar {

    .single-sidebar-widget {
    background: #1A1A1A;
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 30px;

    .wid-title {
      h3 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding-bottom: 16px;
      }

      &:not(&:last-child) {
        margin-bottom: 24px;
      }
    }

    .search-widget {
      form {
        width: 100%;
        position: relative;

        input {
          background-color: #060606;
          padding: 16px 20px;
          width: 100%;
          border: none;
          color: $header-color;
          border-radius: 8px;
        }

        button {
          position: absolute;
          top: 8px;
          right: 8px;
          font-size: 18px;
          width: 44px;
          height: 44px;
          color: $bg-color-2;
          background-color: $theme-color;
          border-radius: 100px;
          text-align: center;
          @include transition;

          &:hover {
            color: $white;
            background-color: $header-color;
          }
        }
      }
    }

    .categories-items {
      li {
        @include flex;
        justify-content: space-between;
        background-color: #060606;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        @include transition;
        border-radius: 8px;
        padding: 16px;
        border: 1.2px solid transparent;

        a {
          color: $header-color;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &:hover {
          background-color: $theme-color;
          border-color: $theme-color;
          color: $bg-color-2;

          a {
            color: $bg-color-2;
          }
        }
      }
    }

    .recent-post-area {

      .recent-item {
        @include flex;
        gap: 16px;

        @include breakpoint(max-xl) {
          flex-wrap: wrap;
        }

        &:not(:last-child) {
          margin-bottom: 22px;
        }

        .thumb {
          img {
            border-radius: 8px;
          }
        }

        .content {
            span {
                font-size: 14px;
            }
          h6 {
            font-size: 20px;
            line-height: 135%;
            max-width: 200px;

            a {
              &:hover {
                color: $theme-color;
              }
            }
          }
        }
      }
    }

    .tagcloud {
      a {
        display: inline-block;
        padding: 8px 16px;
        line-height: 1;
        color: $text-color;
       background-color: #060606;
        margin-right: 5px;
        text-transform: capitalize;
        margin-bottom: 10px;
        border-radius: 100px;
        border: 1.2px solid transparent;
        @include transition;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $bg-color-2;
          background: $theme-color;
          border-color: $theme-color;
        }
      }
    }
  }

    .info-sidebar-widget {
        padding: 56px 32px;
        border-radius: 16px;

        .info-widget {
        text-align: center;

        .logo {
            margin-bottom: 30px;
        }

        .content {

            h3 {
            font-size: 28px;
            margin-bottom: 10px;
            }

            h5 {
            color: $text-color;
            font-weight: 700;
            }
        }

        .theme-btn {
            margin-top: 80px;

            @include breakpoint (max-xl) {
            margin-top: 30px;
            }
        }
        }
    }
}
