
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;

	h3 {
		font-size: 32px;
	}

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.sec-sub {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		font-family: $body-font;
		color: $theme-color;
		padding-left: 50px;
		line-height: 1;
		margin-bottom: 30px;

		&.before-none {
			&::before {
				display: none;
			}

			&::after {
				display: none;
			}
		}
		
		&::before {
			position: absolute;
			left: 0;
			top: 3px;
			content: "";
			height: 1px;
			width: 30px;
			background-color: $theme-color;
		}

		&::after {
			position: absolute;
			left: 12px;
			bottom: 0;
			content: "";
			height: 1px;
			width: 17px;
			background-color: $theme-color;
		}
	}

	h2 {
		span {
			color: $theme-color;
		}
	}

	&.style-4 {
		.sec-sub {
			padding-left: 0;
			margin-bottom: 20px;
			font-weight: 400;

			&::before {
				display: none;
			}

			&::after {
				display: none;
			}
		}
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.section-title {
		margin-bottom: 0;
	}

	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	// @include breakpoint (max-md) {
		
	// }
}

.section-title-2 {
	margin-bottom: 40px;

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.sec-sub {
		border-radius: 6px;
		background: rgba(191, 247, 71, 0.10);
		display: inline-block;
		padding: 8px 15px;
		line-height: 1;
		color: $theme-color;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: $body-font;
		margin-bottom: 24px;

		img {
			margin-right: 7px;
		}
	}

	h2 {
		font-size: 50px;
		font-weight: 700;
		line-height: 128%;
		text-transform: uppercase;

		@include breakpoint(max-xxl){
			font-size: 44px;
		}

		@include breakpoint(max-xl){
			font-size: 40px;
		}

		@include breakpoint(max-lg){
			font-size: 36px;
		}

		@include breakpoint(max-md){
			font-size: 42px;
		}

		@include breakpoint(max-sm){
			font-size: 34px;
		}

		span {
			color: $theme-color;
		}
	}

	.prtoject-title {
		font-size: 200px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;

		@include breakpoint (max-xl){
			font-size: 150px;
		}

		@include breakpoint (max-sm){
			font-size: 140px;
		}

		@include breakpoint (max-xxs){
			font-size: 100px;
		}
	}
}


//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}


.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}

.section-padding-2 {
	padding: 60px 0;
}
//>>>>> Basic Css End <<<<<//

