.testimonial-wrapper {
    margin-right: -71%;
    position: relative;

    .array-button {
        display: grid;
        align-items: center;
        gap: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -3%;
        z-index: 999;

        @include breakpoint (max-xxxl){
            display: none;
        }

        .array-prev,.array-next {
            border-radius: 100px;
            border: 1.5px solid rgba(255, 255, 255, 0.20);
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 50%;
            color: $theme-color;
            @include transition;
            cursor: pointer;
           

            &:hover {
                background-color: $theme-color;
                color: #060606;
            }
        }
    }

    @include breakpoint (max-xxl){
        margin-right: 0;
    }

    /* Number pagination styling */
    .swiper-pagination {
        font-size: 22px;
        font-weight: 400;
        color: #000;
        position: absolute;
        bottom: 60px;
        left: -90px;
    }

    /* Optional: center the pagination below slider */
    .swiper-pagination {
        text-align: center;
        margin-top: 15px; /* adjust as needed */
    }


    .testimonial-box-items {
        padding: 36px;
        background-color: $theme-color;
        border-radius: 10px;
        @include flex;
        gap: 40px;

         @include breakpoint (max-xxl){
            display: block;
            padding: 30px;
        }

        @include breakpoint (max-xxs){
           padding: 24px;
        }

        .thumb {
            max-width: 335px;
            position: relative;

            @include breakpoint (max-xxl){
                max-width: initial;
                height: 500px;
            }

            img {
                @include imgw;
                border-radius: 10px;
                object-fit: cover;
            }

            .info-title {
                background-color: $white;
                padding: 16px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    font-family: $body-font;
                    color: #060606;
                    margin-bottom: 5px;
                }
            }
        }

        .content {
            max-width: 740px;

            @include breakpoint (max-xxl){
               margin-top: 20px;
            }

            @include breakpoint (max-xxs){
               padding: 0 15px;
            }

            .quote-icon {
                margin-bottom: 30px;

                @include breakpoint (max-xxl){
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 24px;
                font-weight: 400;
                color: #060606;
                text-transform: capitalize;
                line-height: 187%;

                @include breakpoint (max-xxl){
                   font-size: 20px;
                }

                @include breakpoint (max-lg){
                   font-size: 18px;
                }

                 @include breakpoint (max-xxs){
                   font-size: 16px;
                }
            }

            .clutech-image {
                margin-top: 60px;

                @include breakpoint (max-xxl){
                   margin-top: 30px;
                }
            }
        }
    }
}

.testimonial-section-2 {
    .section-title-area {
        h2 {
            span {
                color: $theme-color;
            }
        }
    }
}

.testimonial-wrapper-2 {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
    margin-right: -45%;
    margin-top: 30px;

    @include breakpoint (max-lg){
       margin-right: 0;
    }


    .testimonial-content {
        margin-top: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        @include breakpoint (max-xl){
           border-right: none;
        }

        h2 {
            margin-top: 100px;
            font-size: 50px;

             @include breakpoint (max-lg){
                margin-top: 30px;
            }
        }

        .star {
            color: rgba(236, 176, 20, 1);
            margin-top: 6px;
        }

        p {
            font-weight: 500;
            color: $white;
            margin-top: 5px;
        }

        .logo-image-items {
            @include flex;
            gap: 30px;
            margin-top: 80px;

            @include breakpoint (max-lg){
                margin-top: 30px;
            }
        }
    }

    .testimonial-box-items-2 {
        margin-top: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding-right: 30px;

        .icon-box {
            @include flex;
            justify-content: space-between;

            .star {
                color: #ECB014;
            }
        }

        .quote-image {
            margin-top: 40px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            margin-top: 30px;

            @include breakpoint (max-sm){
                font-size: 17px;
            }
        }

        .client-info {
            @include flex;
            gap: 20px;
            margin-top: 40px;

             @include breakpoint (max-sm){
               margin-top: 20px;
            }

            .client-content {
                h3 {
                    font-size: 24px;
                    font-weight: 800;

                }
            }
        }
    }
}

.testimonial-box-items-3 {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #060606;
    padding: 20px;

    .quote-icon {
        margin-bottom: 15px;
    }

    p {
        color: #888;
        font-size: 20px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.1px;
        text-transform: uppercase;

        @include breakpoint (max-xl){
            font-size: 16px;
        }
    }

    .bottom-item {
        margin-top: 15px;
        @include flex;
        justify-content: space-between;

        .star {
            color: #ECB014;
        }
    }
}

.tetsimonial-image-3 {
    border-radius: 6px;
    height: 292px;
    overflow: hidden;

    img {
        @include imgw;
         border-radius: 6px;
    }

    @include breakpoint (max-lg){
        max-width: 212px;
    }
}

.testimonial-section-3 {
    .array-button {
        @include flex;
        gap: 14px;
        margin-top: 30px;

        .array-prev {
            width: 48px;
            height: 48px;
            line-height: 48px;
            display: inline-block;
            border-radius: 50%;
            border: 1.5px solid rgba(255, 255, 255, 0.20);
            color: $theme-color;
            background-color: transparent;
            @include transition;

            &:hover {
                background-color: $theme-color;
                color: $black;
            }
        }

        .array-next {
            width: 48px;
            height: 48px;
            line-height: 48px;
            display: inline-block;
            border-radius: 50%;
            border: 1.5px solid rgba(255, 255, 255, 0.20);
            color: $theme-color;
            background-color: transparent;
            @include transition;

            &:hover {
                background-color: $theme-color;
                color: $black;
            }
        }
    }
}

.testimonial-box-items-4 {
    margin-top: 30px;
    border-radius: 16px;
    border: 1px solid #232323;
    background: #232323;
    padding: 16px 30px;

    @include breakpoint (max-xl){
        max-width: 660px;
    }

    .testi-card-items {
        padding: 30px 40px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        @include breakpoint (max-xl4){
            background-image: none !important;
            padding: 0;
        }

        .client-info {
            @include flex;
            gap: 40px;
            padding-left: 80px;
            margin-bottom: 30px;
            padding-top: 10px;

            @include breakpoint (max-xl4){
               padding-left: 0;
            }

            .thumb {
                position: absolute;
                top: 20px;
                left: 2px;
                width: 75px;
                height: 61px;

                @include breakpoint (max-xl4){
                   position: static;
                }

                img {
                    border-radius: 16px;
                    @include imgw;
                }
            }

            .content {
                h5 {
                    font-size: 20px;
                    font-weight: 600;
                    color: $white;
                }

                span {
                    color: $white;
                }
            }
        }

        p {
            color: $white;
            font-style: italic;
            line-height: 175%;
            padding-bottom: 10px;
        }
    }
}

.testimonial-section-4 {
    margin: 0 40px;
    border-radius: 20px;
    background: #1A1A1A;
    margin-bottom: 120px;

    @include breakpoint (max-xxl) {
       margin: 0 30px;
       margin-bottom: 100px;
    }

     @include breakpoint (max-sm) {
       margin: 0 15px;
       margin-bottom: 80px;
    }
}

.testimonial-wrapper-4 {
    position: relative;
    z-index: 9;
    margin-bottom: 60px;
    margin-top: 80px;

    @include breakpoint (max-xxl) {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    .ball-shape {
        position: absolute;
        z-index: -1;
        left: 319px;
        bottom: -100px;

         @include breakpoint (max-xxl) {
            display: none;
        }
        
        img {
             animation: rotateBall 10s linear infinite;
        }
    }

    .chaka-shape {
        position: absolute;
        left: 400px;
        top: -50px;
        z-index: -1;

         @include breakpoint (max-xxl) {
            display: none;
        }

        img {
             animation: rotateBall 10s linear infinite;
        }
    }

    .box-shape {
        position: absolute;
        top: 140px;
        right: 215px;
        z-index: -1;

        @include breakpoint (max-xxl) {
            display: none;
        }

        img {
             animation: rotateBall 10s linear infinite;
        }
    }

    .testimonial-box-items-5 {
        text-align: center;
        padding: 70px 62px 60px;
        position: relative;
        border-radius: 46.916px;
        border: none;
        background: linear-gradient(142deg, rgba(254, 248, 255, 0.21) 1.8%, rgba(254, 248, 255, 0.00) 99.75%);
        backdrop-filter: blur(75.69499969482422px);

        @include breakpoint (max-lg) {
           padding: 45px 30px 45px;
        }
        
        @include breakpoint (max-sm) {
           padding: 30px;
        }

        .testimonial-content {

            .quate {
                text-align-last: left;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
                font-style: italic;
                font-weight: 400;
                color: $white;
                letter-spacing: 0.6px;
                line-height: 190%;
                text-transform: capitalize;

                @include breakpoint (max-xxl) {
                   font-size: 16px;
                }
            }

            .client-image {
                text-align: center;
                margin-top: 20px;
            }

            .text {
                text-align: center;

                h4 {
                    font-size: 19px;
                    color: $white;
                    letter-spacing: 0.95px;
                    text-transform: uppercase;
                }

                span {
                    font-size: 18px;
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }
        }

        .arrow-button {

            .array-prev {
                color: #80859F;
                position: absolute;
                bottom: 120px;
                left: 62px;
                @include transition;
                z-index: 999;

                &:hover {
                    color: $white;
                }
            }

            .array-next {
                color: $white;
                position: absolute;
                bottom: 120px;
                right: 62px;
                @include transition;
                z-index: 999;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}



.coverflow-slider-wrap {
    display: flex;
    align-items: center;
    height: 50vh;
    margin-top: 230px;

   

    .swiper-container {
        width: 100%;

        .swiper-slide {
            width: 800px;
            height: 500px;

            .slide-image {
                height: 480px;

                @include breakpoint (max-xxl){
                    height: 380px;
                }

                img {
                    @include imgw;
                    object-fit: cover;
                }
            }
        }
    }
}

.coverflow-slider-text-wrap {
  margin-top: 0px;
  text-align: center;
}

.coverflow-slider-text-active {
  width: 100%;
  height: 60px; 
  overflow: hidden;
  position: relative;
}

.coverflow-slider-text-active .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.coverflow-slider-text-active .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.coverflow-slider-text-active .coverflow-slider-content h4 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.6s ease;

  @include breakpoint (max-xxl){
        font-size: 40px;
    }

  @include breakpoint (max-lg){
        font-size: 40px;
    }

   @include breakpoint (max-md){
        font-size: 20px;
    }
}

.coverflow-slider-text-active .swiper-slide-active h4 {
  transform: scale(1.2);
  opacity: 1;
}

.coverflow-slider-main {
    .pagi-item {
        @include flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;

         @include breakpoint (max-xxl){
            display: none;
        }

         .dot-number {
            @include flex;
            gap: 20px;
            
            @include breakpoint (max-md){
                display: none;
            }

            .swiper-pagination-bullet-active {
                .dot-num {
                span {
                    color: $theme-color;
                }
             }
            }

            .dot-num {
                span {
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    font-family: $heading-font
                }
            }
        }

            .arrow-button {
                @include flex;
                gap: 24px;

                .array-prev {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    border: 1px solid $white;
                    color: $white;
                    border-radius: 100px;
                    z-index: 99999;
                    @include transition;
                    cursor: pointer;

                    &:hover {
                        background-color: $theme-color;
                        border: 1px solid $theme-color;
                        color: $bg-color;
                        z-index: 9999;
                    }
                }

                .array-next {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    border: 1px solid $white;
                    color: $white;
                    border-radius: 100px;
                    z-index: 999;
                    @include transition;

                    &:hover {
                        background-color: $theme-color;
                        border: 1px solid $theme-color;
                        color: $bg-color;
                    }
                }
            }
        }
}